[submodule "lib/unofficial-tinkoff-invest-api_v2-lazy-sdk-NODEJS"]
	path = lib/unofficial-tinkoff-invest-api_v2-lazy-sdk-NODEJS
	url = git@github.com:betslus1/unofficial-tinkoff-invest-api_v2-lazy-sdk-NODEJS.git
